.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #1C556F;
  background-color: #84D0F2;
}

.App-main {
  flex: 1 0 auto;
}

.button-collapse {
  display: none;
}

.nav-wrapper {
  background-color: #1C556F;
}

.brand-logo {
  color: white !important;
}
 
.page-footer {
  background-color: #1C556F !important;
}

.footer-copyright {
  background-color: #1C556F !important;
}

.AddBar {
  margin: 5px;
}

.AddBar > div {
  overflow: hidden;
}

.btn {
  background-color: #3090BC !important;
}

.AddBar > button {
  float: right;
  margin-left: 5px;
}

@keyframes RotateRight {
  to {transform: rotate(360deg);}
}

.StateSpinner {
  animation: RotateRight .6s linear infinite;
  vertical-align: center;
  display: inline-block;
}

.Folder {
  margin: 5px;
  border-style: solid;
  border-width: thin;
}

.Folder > h2 {
  font-size: 1rem;
}

.FolderItem {
  margin-left: 50px;
  display: none;
}

.FolderItem.active {
  display: block;
}

.FolderHeader {
  display: inline-block;
  margin-left: 15px;
}

.StateButton {
  display: inline-block;
}

.ExpandButton {
  display: inline-block;
} 

.CloseButton { 
  float: right;
}

.active {
  color: black;
}