.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-main {
  flex: 1 0 auto;
}

#nav-mobile {
  display: "none"
}

.AddBar {
  margin: 5px;
}

.AddBar > div {
  overflow: hidden;
}

.AddBar > button {
  float: right;
  margin-left: 5px;
}

@keyframes RotateRight {
  to {transform: rotate(360deg);}
}

.RotateRight {
  float: right;
  animation: RotateRight .6s linear infinite;
  vertical-align: center;
}

.RotateRightText{
  float: right;
  color: black;
  vertical-align: center;
}

.Folder {
  margin: 5px;
}

.FolderHeader {
  text-align: left;
}

.FolderHeaderValue {  
  color: black;
}

.FolderHeader .ExpandLessButton, .ExpandMoreButton {
  float: right;
}

.FolderItem {
  margin: 5px;
}
