.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-main {
  flex: 1 0 auto;
}

#nav-mobile {
  display: "none"
}

.AddBar {
  margin: 5px;
}

.AddBar > div {
  overflow: hidden;
}

.AddBar > button {
  float: right;
  margin-left: 5px;
}

.Folder {
  margin: 5px;
}

.FolderHeader {
  text-align: left;
}

.FolderHeader .ExpandLessButton, .ExpandMoreButton {
  float: right;
}

.FolderItem {
  margin: 5px;
}
